body{background-color: rgb(0, 0, 0);
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
width: 100vw; 
overflow-x: hidden; 
min-height: 100vh;
}

/* Header */ 
/* https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c */
/* ^^ Check for header anim */
header {
    position: sticky;
    z-index: 9999;   /* Ensures it's on top of everything */
    top: 0;
    padding: 10px 16px;
    height: auto; /* Adjusts height based on content */
    width: 100vw; /* Ensures full width of the viewport */
    background: #A42945;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box; /* Ensures padding is included in the total size */
}

/* Footer */
footer {
    margin-top: auto;
    position: sticky;
    z-index: 9999;   /* Ensures it's on top of everything */
    top: 0;
    padding: 10px 16px;
    height: auto; /* Adjusts height based on content */
    width: 100vw; /* Ensures full width of the viewport */
    background: #A42945;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box; /* Ensures padding is included in the total size */
}

/* Style for the grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 5px; /* Spacing between the grid items */
    column-gap: 5px;
    justify-items: center; /* Center items horizontally */
    margin-top: 60px;
}

.grid-arts {
    width: 1350px;
    columns: 5;
    margin: 10px auto;
    column-gap: 5px;
}

.image {
    width: 100%; /* Make the image responsive within the container */
    height: auto; /* Maintain the aspect ratio */
}

/* Styles for the info box */
.info-box {
    background-color: rgb(0, 0, 0); /* Box background color */
    color: rgb(255, 255, 255);            /* Text color inside the box */
    padding: 20px;           /* Padding inside the box */
    border-radius: 15px;     /* Rounded corners */
    border: 2px solid #ccc;  /* Border around the box */
    width: 50%;              /* Box width (adjust as needed) */
    margin: 0 auto 20px auto;/* Centering the box */
}




/* Only for the test */


.grid-arts-test {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 7px;
    align-items: start; /* Align images to the top */
}

.coluna-caixa{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 5 columns */
    gap: 5px;
    align-items: start; /* Align images to the top */
}

.coluna, .colunaDone, .colunaNotDone, .colunaInUse, .colunaAbandoned{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
    text-shadow: 1px 1px #ffffff;
    border: 2px solid rgb(255, 255, 255);    
    background-color: #838086;
    border-radius: 15px; /* Rounded corners */
    padding: 10px; /* Optional padding around the image */
    overflow: hidden; /* Ensure rounded corners apply */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for a modern look */
    width: 240px;
    max-height: fit-content;
}

.colunaDone{
    background-color: #FBD10B;
}

.colunaNotDone{
    background-color: #06B7DA;
}

.colunaInUse{
    background-color: #F80397;
}

.colunaAbandoned{
    background-color: #03f87e;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the video covers the entire area without distortion */
  }

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}


/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: rgb(182, 214, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  

  @media (max-width: 767px){
    .test-grid{
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
        background-color: #F80397;
        padding: 10px;
    }

    .test-grid > div{
        background-color: #06B7DA;
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
}

@media (min-width: 768px){
    .test-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        background-color: #0328f8;
        padding: 10px;
    }

    .test-grid > div{
        background-color: #c5da06;
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
}

.span-required{
    display: none;
    font-size: 12;
    border: 12px white;
}